[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/ansible-vim"]
	path = vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
